<!DOCTYPE html>
<html>
<head>
    <title>Jian ZHAO (赵健)</title>
    <!-- Custom Theme files -->
    <link rel="icon" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/lightbox.css">
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!--web-fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800' rel='stylesheet'
          type='text/css'>
    <!--//web-fonts-->
    <!--circle-chart-->
    <script src="js/jquery.circlechart.js"></script>
    <!--circle-chart-->
</head>
<body>

<div class="">

<!--research interests-->
<div class="team" id="team">
    <div class="team-info">
        
        <div class="container">
            <div class="team-row center-row">
                <div class="col-md-3 team-grids">
                    <div class="team-img">
                        <img class="teacher-img" src="images/people/jian_zhao.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-9">
                    <h3>Jian ZHAO 赵健</h3>
                    <p> 
                        Leader of Evolutionary Vision+x Oriented Learning (EVOL) Lab & Principal Research Scientist @ TeleAI of China Telecom (中国电信人工智能研究院)
                        <br>
                        Researcher & Ph.D. Supervisor @ School of Artificial Intelligence, Optics and Electronics (iOPEN) ｜ Northwestern Polytechnical University (NWPU), Xi'an Shanxi, P.R. China
                        <br>
                    <strong>Office</strong>: 11 Dongzhimen South Street, Dongcheng District, Beijing, China 100027<br/>
                    <strong>Phone</strong>: (86) 15313525501 <br>
                    <strong>Email</strong>: zhaoj90 (at) chinatelecom (dot) cn OR jian_zhao (at) nwpu (dot) edu (dot) cn OR zhaojian90 (at) u (dot) nus (dot) edu<br/>
                    <strong>Prospective Students</strong> : Please contact me if you are interested in joining our research group.<br>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <br>
        <div class="container">
            <h3 class="title">Research Interests</h3>

            <div class="center-row" style="font-size: 16px;">

                <ul id="interests">
                    <li>
                        AI Governance: Intrinsic Security, Derivative Security, Derivative Security, etc.
                    </li>
                </ul>

            </div>
        </div>

        <!-- news -->
        <div class="container">
            <h3 class="title">News</h3>
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">16 Oct 2025, Will give a talk "AI Safety and Governance" on the ML-Summit 2025.
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">19 Sep 2025, Will give a talk "AI Safety and Governance" on the Young Elite Scientist Workshop of the CSIG Young Scientist Conference 2025.
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">23 Aug 2025, Three papes are accepted to PRCV 2025, congrats to Tianbao Zhang, Junjie Cao, and Binquan Tan!
                        </div>
                    </li>
                     <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">24 Jul 2025, One pape is accepted to CVIU, congrats to Fan Zhang!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">25 Jun 2025, Will serve as the guest editor for Mathematics special issue on Mathematical Foundations and Approaches to AI Governance in Computer Vision.
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">11 Jul 2025, One pape is accepted to ECAI 2025, congrats to Shilong Wang!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">05 Jul 2025, Two papers (one demo track) are accepted to ACM MM 2025, congrats to Runqi Wang, and Wei Cai!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">28 Jun 2025, Will give a talk "Anti-UAV: Intelligent Sensing of Low, Slow, and Small Targets in Complex Scenarios" on the 1st CSIG Workshop on Frontier Technologies and Industrial Applications of Artificial Intelligence.
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">09 Jun 2025, One paper is accepted to PR, congrats to Jiazheng Xing, and Chao Xu!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">07 Jun 2025, Will co-organize the Multimodal Cognitive Computing Workshop with VALSE 2025.
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">07 Jun 2025, Will give a talk "Anti-UAV: Intelligent Sensing of Low, Slow, and Small Targets in Complex Scenarios" on the Low-altitude Intelligent Sensing and Understanding Workshop with VALSE 2025.
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">03 Jun 2025, One paper is accepted to PR, congrats to Xiaoguang Tu!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">28 May 2025, One paper is accepted to PR, congrats to Chao Xu!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ AWARD ]</div>
                        <div class="item-detail">22 May 2025, Achieved the 1st-Place Awards in Track 1: Image Detection and Localization & Track 2: Audio-Visual Detection and Localization of the Workshop on Deepfake Detection, Localization, and Interpretability with IJCAI 2025, congrats to Jiaming Chu, Yuchu Jiang, Xin Zhang, Yuer Li, Xinru Wang, and Mingxing Yuan!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">27 Feb 2025, Four papers are accepted to CVPR 2025, congrats to Likai Tian, Shuo Wang, Tao Wang, and Yifan Wang!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">25 Feb 2025, One paper is accepted to Neurocomputing, congrats to Yuhan Kang!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">08 Feb 2025, One paper is accepted to IJCV, congrats to Chao Xu!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">07 Jan 2025, One paper is accepted to Sensors, congrats to Pengju Li!
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- awards -->
        <div class="container">
            <h3 class="title">Selected Honors & Awards</h3>

            <div class="center-row" style="font-size: 16px;">
                <ul id="interests">
                        <li> 2025, Outstanding Contribution Award, the 4th Anti-UAV Workshop & Challenge with CVPR (CCF-A) 2025.
                        <li> 2025, Winner Award (1/11), The Workshop on Deepfake Detection, Localization, and Interpretability (Track 1: Image Detection and Localization) with IJCAI (CCF-A) 2025.
                        <li> 2025, Winner Award (1/11), The Workshop on Deepfake Detection, Localization, and Interpretability (Track 2: Audio-Visual Detection and Localization) with IJCAI (CCF-A) 2025.
                        <li> 2024, Leading Sci-Tech Talent Program of Central State-Owned Enterprises, State-owned Assets Supervision and Administration Commission of the State Council.  
                        <li> 2024, 3rd-Place Award (Advisor), The 2024 Traffic Large Model Benchmarking Challenge (Urban Traffic + Regulatory Standards Knowledge Track).  
                        <li> 2024, Winner Award (1/9), The 4th Physics based Vision Meets Deep Learning Workshop and Challenge on Low-Light Object Detection and Instance Segmentation (Detection Track) with CVPR (CCF-A) 2024.
                        <li> 2024, 3rd-Place Award (1/9), The 4th Physics based Vision Meets Deep Learning Workshop and Challenge on Low-Light Object Detection and Instance Segmentation (Segmentation Track) with CVPR (CCF-A) 2024.
                        <li> 2023, WU WEN JUN AI Outstanding Youth Award, Chinese Association for Artificial Intelligence (CAAI).
                        <li> 2023, Outstanding Contribution Award, the 3rd Anti-UAV Workshop & Challenge with CVPR (CCF-A) 2023.
                        <li> 2022, 1st Prize Award (2/5), WU WEN JUN AI Natural Science Award, Chinese Association for Artificial Intelligence (CAAI).
                        <li> 2022, 1st-Place Award (Advisor), Huawei Special Award, the "Huawei Cup" 4th China Graduate Artificial Intelligence Innovation Challenge.
                        <li> 2021, 1st-Place Award (Advisor), Masked Face Recognition Challenge (WebFace260M Track) with ICCV (CCF-A) 2021.
                        <li> The 6th Young Elite Scientist Sponsorship Program, China Association for Science and Technology.
                        <li> 2020, A-Level Certificate (Advisor), China Artificial Intelligence Competition (Activity Recognition Track).
                        <li> 2021-2023 Beijing Young Elite Scientist Sponsorship Program, Beijing Association for Science and Technology.
                        <li> 2019, Lee Hwee Kuan Award (1/6), Pattern Recognition and Machine Intelligence Association (PREMIA), Singapore.
                        <li> 2018, Best Student Paper Award (1/6), ACM MM (CCF-A) 2018.
                        <li> 2017, 1st-Place Award (3/9), MS-Celeb-1M Face Recognition Challenge (Recognizing One Million Celebrities Track) with ICCV (CCF-A) 2017.
                        <li> 2017, 1st-Place Award (1/7), MS-Celeb-1M Face Recognition Challenge (Low-Shot Learning Track) with ICCV (CCF-A) 2017.
                        <li> 2017, 1st-Place Award (1/10), National Institute of Standards and Technology (NIST) IJB-A Unconstrained Face Recognition Challenge (Verification Track).
                        <li> 2017, 1st-Place Award (1/10), National Institute of Standards and Technology (NIST) IJB-A Unconstrained Face Recognition Challenge (Identification Track).
                        <li> 2017, 2nd-Place Award (1/6), Look into Person (L.I.P) Challenge (Human Parsing Track) with CVPR (CCF-A) 2017.
                        <li> 2017, 2nd-Place Award (2/6), Look into Person (L.I.P) Challenge (Human Pose Estimation Track) with CVPR (CCF-A) 2017.
                        <li> 2016, 3rd-Place Award (2/8), MS-Celeb-1M Face Recognition Challenge (Hard Set Track) with ACM MM (CCF-A) 2016.
                </ul>
            </div>
        </div>

        <!-- Academic Services -->
        <div class="container">
            <h3 class="title" style="margin-bottom: 0.5em;">Academic Services & Activities</h3>
            <div class="center-row" style="font-size: 16px;">
                <h4 class="little_title">Academic Services</h4>
                    <span>Co-Ph.D. Supervisor</span>
                    <ul id="interests">
                    <li>Department of Automation, Tsinghua University
                    <li>Department of Computer Science and Technology, Fudan University
                    <li>Department of Computer Science and Technology, Zhejiang University
                    <li>Department of Computer Science and Technology, University of Science and Technology of China
                    <li>School of Artificial Intelligence, Beijing University of Posts and Telecommunications
                    <li>School of Artificial Intelligence, Optics and Electronics, Northwestern Polytechnical University
                    <li>Institute of Computing Technology, Chinese Academy of Sciences
                    </ul>
                    <span>Member of the Board of Directors</span>
                    <ul id="interests">
                    <li>Beijing Society of Image and Graphics (BSIG) 
                    </ul>
                    <span>Editorial Board Member</span>
                    <li>Pattern Recognition
                    <li>Electronics and Signal Processing
                    <li>Artificial Intelligence Advances
                    <li>IET Computer Vision
                    </li>
                    <span>Beijing Industrial Science & Technology Liaison Officer</span>
                    <li>Beijing Association for Science and Technology
                    </li>
                    <span>Guest Editor</span>
                    <li>Mathematics special issue on Mathematical Foundations and Approaches to AI Governance in Computer Vision
                    <li>Pattern Recognition Letters special issue on Recent Advances in Deep Learning Model Security
                    <li>Electronics special issue on Multimedia Content Analysis, Management and Retrieval: Trends and Challenges
                    </li>
                    <span>Senior Area Chair</span>
                    <li>Vision and Learning Seminar (VALSE)
                    </li>
                    <span>Session Chair</span>
                    <li>ACM MM 2021
                    <li>ECCV 2020 China Pre-Conference
                    </li>   
                    <span>Area Chair</span>
                    <li>The Chinese Association for Artificial Intelligence (CAAI) International Conference on Artificial Intelligence (CICAI) 2023
                    <li>The Chinese Association for Artificial Intelligence (CAAI) International Conference on Artificial Intelligence (CICAI) 2022
                    </li>
                    <span>Presentation Chair</span>
                    <li>The 2nd China Embodied AI Conference (CEAI) 2025
                    </li>
                    <li>The Chinese Association for Artificial Intelligence (CAAI) International Conference on Artificial Intelligence (CICAI) 2021
                    </li>
                    <span>Workshop Chair</span>
                    <li>VALSE 2025
                    </li>
                    <li>The Chinese Conference on Biometric Recognition (CCBR) 2024
                    </li>
                   <span>Senior PC Member</span>
                    <li>The International Joint Conference on Artificial Intelligence (IJCAI) 2025
                    </li>
                    <span>Member of Expert Arbitration</span>
                    <li>The "Challenge Cup" National Undergraduate Curricular Academic Science and Technology Works by Race [2024]
                    <li>The "Challenge Cup" National Undergraduate Curricular Academic Science and Technology Works by Race [2023]
                    <li>China Artificial Intelligence Competition
                    <li>Science and Technology Talent Award, China Association for Science and Technology (CAST) [2024-2029]
                    <li>Science and Technology Award, Chinese Institute of Electronic (CIE)
                    <li>Science and Technology Award, China Telecom
                    </li>
                    <span>Senior Member</span>
                    <li>China Computer Federation (CCF)</li>
                    <li>Chinese Association for Artificial Intelligence (CAAI)</li>
                    <li>China Society of Image and Graphics (CSIG)</li>
                    </li>
                    <span>Technical Consultant</span>
                    <li>Synced [2022-Now]
                    <li>Baidu Institute of AI [2020-2022]
                    <li>OPPO Institute [2021-2022]
                    <li>PENSEES [2020-2021]
                    </li>
                    <span>Executive Committee Member</span>
                    <li>Technical Committee on Computer Vision, China Computer Federation (CCF-CV) [2024-2028]</li>
                    <span>Committee Member</span>
                    <li>Technical Committee on Embodied AI, Chinese Association for Artificial Intelligence (CAAI-EAI)</li>
                    <li>Technical Committee on Big Visual Data, China Society of Image and Graphics (CSIG-BVD)</li>
                    <li>Technical Committee on Multimedia Division, China Society of Image and Graphics (CSIG-MM)</li>
                    <li>Committee for Elite Young Professionals, China Society of Image and Graphics (CSIG)</li>
                    <li>Committee for Elite Young Professionals, Beijing Society of Image and Graphics (BSIG)</li>
                    </li>
                    <span>Developer Expert</span>
                    <li>PaddlePaddle, Baidu
                    </li>
                    <span>Member</span>
                    <li>IEEE, CCF, CAAI, CSIG, CSIG-BVD, CSIG-MM, BSIG
                    </li>
                    <span>Invited Reviewer</span>
                    <p>Journal</p>
                    <li>T-PAMI, IJCV, T-MM, T-IFS, T-CSVT, Neurocomputing, T-ITS, T-CDS, T-AFFC, T-HMS, KNOSYS, IET Computer Vision, CSSP, JVCI, GVC, IMAVIS, ESWA, INFFUS, CVIU
                    <p>Conference</p>    
                    <li>NeurIPS (one of the top 30% highest-scoring reviewers of NeurIPS 2018), CVPR, ICCV, ACM MM, AAAI, ICLR, ICML, ICME, ACCV, UAI, FG, CICAI, ICASSP
                    </li>
            </div>
        </div>
    </div>
</div>

    <!--banner Slider starts Here-->
    <script src="js/responsiveslides.min.js"></script>
    <!--//End-slider-script-->
    <!-- start-smooth-scrolling-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!--//smooth-scrolling-of-move-up-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>

</body>
</html>
